:root{
    --primary-color: #38CC77;
}

/* global */
body{
    font-family: 'Poppins', sans-serif;
}
a,a:hover{
    text-decoration: none;
}
.primary_text{
    color: var(--primary-color);
}
.primary_bg{
    background-color: var(--primary-color);
}
img{
    max-width: 100%;
}
button{
    user-select: none;
}
.primary_btn{
    padding: 10px 40px;
    background: var(--primary-color);
    color: #fff;
    transition: .5s;
    box-shadow: -1px 20px 22px -9px #00000045;
    border: 0;
    outline: 0;
    border-radius: 5px;
}
.primary_btn:hover{
    color: #fff;
    box-shadow: 0 0 0 0 ;
    transform: scale(1.1);
}



/* right */
.right_section{
    background-color: rgba(0, 0, 0, 0.04);
}

.right_section label{
    width: 20%;
    text-align: right;
}

.right_section input{
    width: 50%;
}

.right_section input{
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.116);
    padding: 10px 20px;
}

/* error message */

.errorMessage{
    position: fixed;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 200%;
    background-color: rgba(0, 0, 0, 0.363);
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s linear;
    user-select: none;
}
.errorMessage.active{
    left: 0;
}

.errorMessage .my_modal{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #242B2E;
    color: #fff;
    border: 5px solid #E21717;
}


@media (max-width: 758px) {
    .errorMessage .my_modal{
        width: 80%;        
    }

    .errorMessage .my_modal #modal_message{
        font-size: 20px;
    }
}
@media (max-width: 450px) {
    .errorMessage .my_modal{
        width: 90%;
    }
    .errorMessage .my_modal #modal_message{
        font-size: 18px;
    }
}